.task-management-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(255 255 255);
  overflow: hidden;
}

.main-container {
display: flex;
justify-content: space-between;
gap: 0 10px;
margin: 32px 10px;
padding: 0 23px 0 0;
}

.side-navigation {
  position: relative;
  margin: 4px 0 0;
  width: 340px;
  min-width: 0;
  min-height: 960px;
}

.color {
  position: absolute;
  inset: 0;
  width: 340px;
  height: 960px;
  background-color: rgb(0 0 0);
  border-radius: 30px;
}

.color1 {
  position: absolute;
  inset: 448px 45px 442px;
  width: 250px;
  height: 70px;
  background-color: rgb(0 0 0);
  border-radius: 35px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
}

.nav-invites-link {
  position: absolute;
  inset: 473px 109px 467px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 20px;
  font: 700 20px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.nav-icon {
  position: absolute;
  inset: 466px 239px 460px 67px;
  width: 34px;
}

.color11 {
  position: absolute;
  inset: 534px 45px 356px;
  width: 250px;
  height: 70px;
  background-color: rgb(0 0 0);
  border-radius: 35px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
}

.nav-settings-link {
  position: absolute;
  inset: 559px 109px 381px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 20px;
  font: 700 20px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.nav-icon1 {
  position: absolute;
  inset: 552px 240px 374px 66px;
  width: 34px;
}

.brand-title {
  position: absolute;
  inset: 48px 45px 848px;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 64px;
  font: 700 64px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.color12 {
  position: absolute;
  inset: 853px 45px 37px;
  width: 250px;
  height: 70px;
  background-color: rgb(0 0 0);
  border-radius: 35px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
}

.color2 {
  position: absolute;
  inset: 190px 45px 700px;
  width: 250px;
  height: 70px;
  background-color: rgb(0 0 14);
  border-radius: 35px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
}

.nav-icon2 {
  position: absolute;
  inset: 208px 239px 718px 67px;
  width: 34px;
}

.color3 {
  position: absolute;
  inset: 362px 45px 528px;
  width: 250px;
  height: 70px;
  background-color: rgb(255 255 255);
  border-radius: 35px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
}

.color13 {
  position: absolute;
  inset: 276px 45px 614px;
  width: 250px;
  height: 70px;
  background-color: rgb(0 0 0);
  border-radius: 35px;
  outline: 1px solid rgb(255 255 255);
  outline-offset: -1px;
}

.nav-icon3 {
  position: absolute;
  inset: 871px 240px 55px 66px;
  width: 34px;
}

.nav-logout-link {
  position: absolute;
  inset: 878px 109px 62px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 20px;
  font: 700 20px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.nav-icon4 {
  position: absolute;
  inset: 380px 240px 546px 66px;
  width: 34px;
}

.nav-tasks-link {
  position: absolute;
  inset: 387px 109px 553px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 20px;
  font: 700 20px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;
}

.nav-team-link {
  position: absolute;
  inset: 301px 109px 639px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 20px;
  font: 700 20px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.nav-icon5 {
  position: absolute;
  top: 294px;
  left: 67px;
  width: 34px;
}

.nav-dashboard-link {
  position: absolute;
  top: 215px;
  left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 111px;
  height: 20px;
  font: 700 20px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.task-columns {
  display: flex;
  flex-direction: column;
  margin: 0 0 73px;
  width: 1440px;
  min-width: 0;
}

.todo-column {
  display: flex;
  flex-direction: column;
}

.content_box2 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(250 0 209);
  border-radius: 40px 40px 0 0;
}

.column-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 38px auto;
  font: 700 20px/1 "Josefin Sans", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.color4 {
  min-height: 400px;
  background-color: rgb(245 245 247);
  border-radius: 0 0 40px 40px;
}

.progress-column {
  display: flex;
  flex-direction: column;
  margin: 43px 0 0;
}

.content_box3 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(255 165 0);
  border-radius: 40px 40px 0 0;
}

.done-column {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 43px 0 0;
  background-color: rgb(139 196 138);
  border-radius: 40px 40px 0 0;
}

